<header id="header" class="header-wrapper grid-container grid-item-12of12 width__100 animatedParent">
    <h1 class="header-headline headline headline__w rellax animated fadeInLeft" data-rellax-speed="1.5">
        {{ config.site.headline_one }}
        <span id ="header-random" class="headline__underline headline__underline-p">Design</span>
        {{ config.site.headline_two }}
    </h1>
    <div class="header-social flex-container flex-container__end-H width__100">
        {% for social in config.site.social %}

            {{ dump(social.icon) }}
            <a href="{{ social.link }}" class="header-social-item width__25">
                {{page.find('/images').media[social.icon].quality(80).html('heroshot', 'selbstbild')}}
            </a>

        {% endfor %}

    </div>
    <figure class="header-img rellax animated fadeInRight" data-rellax-speed="1">
        {% set image = config.site.heroImg %}
        {{page.find('/images').media[image].quality(80).html('heroshot', 'selbstbild')}}
    </figure>
</header>
